#cftd {
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

#cftdbkg {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	width: 100% !important;
	height: 100% !important;
	background: rgba(0, 0, 0, 0.5) !important;
	animation-name: cftdos !important;
	animation-duration: 1s !important;
}

#cftdinn {
	position: absolute !important;
	width: 500px !important;
	height: 300px !important;
	top: 50%;
	left: 50% !important;
	margin-left: -250px !important;
	margin-top: -150px !important;
	background: white !important;
	animation-name: cftdis !important;
	animation-duration: 1s !important;
	font-family: sans-serif !important;
	user-select: none !important;
	text-align: left !important;
	box-sizing: border-box !important;
	padding: 10px !important;
	color: black !important;
}

#cftdinn h1 {
	font-family: sans-serif !important;
	color: black !important;
	font-size: 2em !important;
	text-align: left !important;
	margin: 5px !important;
}

#cftdinn button {
	background: lightgrey !important;
	border: solid 1px black !important;
	padding: 5px !important;
	margin: none !important;
}

@keyframes cftdis {
	to {
		top: 50%;
		opacity: 100%;
	} from {
		top: 40%;
		opacity: 0%;
	}
}

@keyframes cftdos {
	to {
		opacity: 100%;
	} from {
		opacity: 0%;
	}
}
